/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}


/* Palette color */
:root{
    --black: #000;
    --grey: #AAA;
    --white: #FFF;
    --lightblue: #B4D0E7;
    --blue: #0061FF;
}


/* Utilities */
.debug .border {border: 1px dashed black;}

.container{
    width: 900px;
    margin: 0 auto;
}

.main-container {
    width: 800px;
    margin: 100px auto;
}

.d-flex{display: flex;}
.grow {flex-grow: 1;}
.row {
    justify-content: space-between;
    flex-wrap: wrap;
}

.min-w-10 {min-width: 10%;}

.w-20 {width: 20%;}
.w-30 {width: 30%;}
.w-40 {width: 40%;}
.w-50 {width: 50%;}
.w-60 {width: 60%;}
.w-70 {width: 70%;}
.w-100 {width: 100%;}

.h-100 {height: 100%;}

.p-top-35 {padding-top: 35px;}
.p-top-50 {padding-top: 50px;}
.p-bot-35 {padding-bottom: 35px;}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.c-grey {color: var(--grey);}

.btn{
    display: inline-block;
    background-color: var(--white);
    color: var(--black);
    padding: 5px 10px;
    border: 1px solid transparent;
    text-decoration: none;
    text-align: center;
}
.btn-primary{
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
}
.btn-partner{
    border-top: 2px solid var(--black);
    border-right: 2px solid var(--black);
    border-bottom: 1px solid var(--black);
    border-left: 2px solid var(--black);
}


/* Generics */
header {background-color: var(--lightblue);}

header a {
    text-decoration: none;
    color: var(--black);
}

footer {
    height: 60vh;
    color: var(--white);
    background-color: var(--black);
}

footer a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

h2 {font-size: 30px;}

p, cite {font-size: 14px;}

cite {font-style: normal;}

li {
    list-style-type: none;
    padding: 5px 0;
}



/* Header */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    height: 50px;
    background-color: var(--white);
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 0 5px var(--black);
}

#navbar .logo {display: block;}

#navbar a {padding: 0 15px;}

#navbar .menu-navbar div:last-child {text-align: right;}

.menu-navbar div a {
    line-height: 50px;
    display: inline-block;
}


/* Header Jumbotron */
#top-jumbo {
    height: 80vh;
    padding-right: 20px;
}

#top-jumbo div.d-flex {position: relative;}

#top-jumbo img {
    position: absolute;
    right: 0;
    top: 35px;
}

#top-jumbo .fa-arrow-down {display: block;}


/* Main */

/* Business Plan Card Section */
.annual-plan, .monthly-plan {margin-right: 35px;}

.professional, .advanced, .enterprise, .sales-office {border: 1px solid var(--grey);}

.business-card > div > div:not(:first-child) {padding: 15px;}

.plan-type {
    border-bottom: 1px solid var(--grey);
    padding: 5px 0;
    text-align: center;
}

.business-card span, .business-card li, .business-card p {font-size: 12px;}

.business-card .fa-ul {margin-left: 20px;}


.plan-actions .btn {
    font-size: 14px;
    margin-bottom: 10px;
}

.plan-actions span:first-of-type {
    display: inline-block;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 35px;
}

.plan-more-features .fa-check {color: var(--blue);}


/* Sales Office Contact Card */
.sales-office {flex-wrap: wrap;}

.sales-office .plan-name {padding-bottom: 10px;}


/* Partner Section */
.partner {
    align-items: center;
}

.partner div.w-40 {padding: 30px;}

.partner img {display: block;}

/* Dropbox Feature Section */
.feature-block h3 {padding-bottom: 20px;}


/* 
    Our Customers Section 

    --- No code required ---
*/


/* Stakeholder & Partner Section */
.stakeholder .manifest {
    height: 450px;
    width: calc(100% / 3);
}

.stakeholder, .manifest.d-flex {flex-wrap: wrap;}

.manifest-xs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.manifest-xs img{
    width: 50%;
    display: block;
    filter: invert(1);
}

.left-box .manifest-xs:nth-child(1) {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}
.left-box .manifest-xs:nth-child(2) {background-color: #61082B;}
.left-box .manifest-xs:nth-child(3) {background-color: #0093CE;}
.left-box .manifest-xs:nth-child(4) {background-color: #FF1C1C;}

.manifest.middle-box {
    background-color: #F5F5F5;
    padding: 40px;
}

.right-box .manifest-xs:nth-child(1) {background-color: #D5001F;}
.right-box .manifest-xs:nth-child(2) {background-color: #B4D0E7;}
.right-box .manifest-xs:nth-child(3) {background-color: #0D2481;}
.right-box .manifest-xs:nth-child(4) {background-color: #FFD830;}


/* Full Dropbox Manifest Free Trial */
.free-trial-manifest {
    background-color: #B4D0E7;
    color: #61082B;
    height: 250px;
    align-items: center;
}

.free-trial-manifest div.d-flex {
    justify-content: space-between;
    align-items: baseline;
    height: min-content;
}


/* FAQ Section */
.accordion {height: 570px;}

.accordion-title {
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: 30px 30px 30px 0;

    justify-content: space-between;
}

.accordion-title::after {
    content: "\02C5";
    font-weight: bold;
}

.accordion-content {display: none;}

.accordion-title:hover .accordion-content {display: block;}


/* Footer */
.footer-menu {
    flex-wrap: wrap;
    align-items: center;
}


/* Footer Top */
.top-footer {flex-wrap: wrap;}

.foot-col h4 {padding: 20px 0;}


/* Footer Bottom */
.language::before {
    content: "";
    display: inline-block;
    width: 65%;
    border-top: 2px solid var(--grey);
}

.language select {
    margin-top: 20px;
    background-color: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
}
