/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Palette color */
:root{
    --black: #000;
    --white: #FFF;
    --lightblue: #B4D0E7;
    --blue: #0061FF;
}


/* Utilities */
.container{
    width: 1000px;
    margin: 0 auto;
}

.main-container {
    width: 900px;
    margin: 0 auto;
}

.d-flex{display: flex;}

.w-20 {width: 20%;}
.w-30 {width: 30%;}
.w-50 {width: 50%;}
.w-100 {width: 100%;}

.h-100 {height: 100%;}

.px-15{
    padding-left: 15px;
    padding-right: 15px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;

}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Generics */