/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}


/* Palette color */
:root{
    --black: #000;
    --grey: #AAA;
    --white: #FFF;
    --lightblue: #B4D0E7;
    --blue: #0061FF;
    
    --lightgreen: #A2D39B;
    --sangria: #61082B;
    --dodgerblue: #0093CE;
    --scarlet: #FF1C1C;
    --whitesmoke: #F5F5F5;
    --carminio: #D5001F;
    --bluecornflower: #B4D0E7;
    --electricblue: #0D2481;
    --colzayellow: #FFD830;
}


/* Utilities */
.debug .border {border: 1px dashed black;}

.container{
    width: 900px;
    margin: 0 auto;
}

.main-container {
    width: 800px;
    margin: 100px auto;
}

.d-flex{display: flex;}
.grow {flex-grow: 1;}
.row {
    justify-content: space-between;
    flex-wrap: wrap;
}

.min-w-10 {min-width: 10%;}

.w-20 {width: 20%;}
.w-30 {width: 30%;}
.w-40 {width: 40%;}
.w-50 {width: 50%;}
.w-60 {width: 60%;}
.w-70 {width: 70%;}
.w-100 {width: 100%;}

.h-100 {height: 100%;}

.p-15 {padding: 15px;}
.p-top-35 {padding-top: 35px;}
.p-top-50 {padding-top: 50px;}
.p-bot-35 {padding-bottom: 35px;}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.c-grey {color: var(--grey);}

.bg-lightgreen {background-color: var(--lightgreen);}
.bg-sangria {background-color: var(--sangria);}
.bg-dodgerblue {background-color: var(--dodgerblue);}
.bg-scarlet {background-color: var(--scarlet);}
.bg-whitesmoke {background-color: var(--whitesmoke);}
.bg-carminio {background-color: var(--carminio);}
.bg-bluecorn {background-color: var(--bluecornflower);}
.bg-electricblue {background-color: var(--electricblue);}
.bg-colza {background-color: var(--colzayellow);}

.b-grey {border: 1px solid var(--grey);}

.btn{
    display: inline-block;
    background-color: var(--white);
    color: var(--black);
    padding: 5px 10px;
    border: 1px solid transparent;
    text-decoration: none;
    text-align: center;
    transition: border 0.3s linear, background-color 0.3s linear;
}
.btn-primary{
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
}
.btn-secondary{border: 1px solid var(--black);}

.btn:hover {
    box-shadow: 0 0 3px var(--grey);
    border: 1px solid black;
}
.btn-primary:hover {
    background-color: #2f7fff;
    border: 1px solid #2f7fff;
    text-shadow: 0 0 3px var(--white);
}
.btn-secondary:hover {
    background-color: var(--black);
    color: var(--white);
    text-shadow: 0 0 3px var(--white);
}


/* Generics */
header {background-color: var(--lightblue);}

header a {
    text-decoration: none;
    color: var(--black);
}

footer {
    height: 60vh;
    color: var(--white);
    background-color: var(--black);
}

footer a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

h2 {font-size: 30px;}

p, cite {font-size: 14px;}

cite {font-style: normal;}

li {
    list-style-type: none;
    padding: 5px 0;
}


/* Header */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    height: 50px;
    background-color: var(--white);
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 0 5px var(--black);
}

#navbar a {padding: 0 15px;}


/* Navbar | Menu Logo */
#menu-logo .logo {display: block;}


/* Navbar | Menu Navbar Link */
#menu-navbar li {display: inline-block;}
#menu-navbar .right-nav {text-align: right;}

#menu-navbar a {
    line-height: 46px;
    display: inline-block;
    border: 2px solid transparent;
}

#menu-navbar a:hover {border-bottom: 2px solid var(--black);}


/* Header Jumbotron */
#jumbotron {
    height: 80vh;
    padding-right: 20px;
}

#jumbotron .jumbo-col {
    position: relative;
    right: 0;
    top: 40px;
}

#jumbotron .fa-arrow-down {display: block;}


/* Main */

/* Business Plan Card Section */
.annual-plan, .monthly-plan {margin-right: 35px;}

#business-card span, #business-card li, #business-card p {font-size: 12px;}

#business-card .fa-ul {margin-left: 20px;}

.plan-type {
    border-bottom: 1px solid var(--grey);
    padding: 5px 0;
    text-align: center;
}

.plan-actions .btn {
    font-size: 14px;
    margin-bottom: 10px;
}

.plan-actions hr {
    margin-top: 30px;
    width: 20%;
}

.plan-highlights .fa-check {color: var(--blue);}


/* Sales Office Contact Card */
#sales-office {flex-wrap: wrap;}

#sales-office h3 {padding-bottom: 10px;}


/* Partner Section */
#partner {
    align-items: center;
}

.partner-content {padding: 30px;}

.partner-img img {display: block;}


/* Dropbox Feature Section */
.feature-block h3 {padding-bottom: 20px;}


/* 
    Our Customers Section 

    --- No code required ---
*/


/* Stakeholder & Partner Section */

#stakeholder .manifest {
    height: 450px;
    width: calc(100% / 3);
}

#stakeholder, .manifest.d-flex {flex-wrap: wrap;}

.manifest-xs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border: 10px solid transparent;
    transition: border-color 0.2s linear;
}

.manifest-xs img{
    width: 50%;
    display: block;
    filter: invert(1);
}

.manifest.middle-box {
    padding: 40px;
    border: 10px solid transparent;
    transition: border-color 0.2s linear;
}

.manifest.middle-box hr {width: 30%;}


/* Manifest Box Hover */
.left-box .bg-lightgreen:hover {border-color: #D1E9CD;}
.left-box .bg-sangria:hover {border-color: #66223d;}
.left-box .bg-dodgerblue:hover {border-color: #68bbdb;}
.left-box .bg-scarlet:hover {border-color: #fd4c4c;}

.middle-box.bg-whitesmoke:hover {border-color: #e0d9d9;}

.right-box .bg-carminio:hover {border-color: #d33a51;}
.right-box .bg-bluecorn:hover {border-color: #dee1e4;}
.right-box .bg-electricblue:hover {border-color: #4054a5;}
.right-box .bg-colza:hover {border-color: #ffe882;}


/* Full Dropbox Manifest Free Trial */
.free-trial-manifest {
    color: var(--sangria);
    height: 250px;
    align-items: center;
}

.free-trial-manifest div.d-flex {
    justify-content: space-between;
    align-items: baseline;
    height: min-content;
}


/* FAQ Section */
#accordion {height: 85vh;}

.accordion-title {
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: 30px 30px 30px 0;
    cursor: pointer;

    justify-content: space-between;
}

.accordion-title::after {
    content: "\02C5";
    font-weight: bold;
}

.accordion-title:hover::after {
    content: "\02C4";
    font-weight: bold;
}

.accordion-content {display: none;}

.accordion-title:hover .accordion-content {display: block;}


/* Footer */
#footer-menu {
    flex-wrap: wrap;
    align-items: center;
}

#footer-menu hr {width: 10%;}


/* Footer Top */
#top-footer {flex-wrap: wrap;}

.foot-col h4 {padding: 20px 0;}


/* Footer Bottom */
.language select {
    margin-top: 20px;
    background-color: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
}